<%= form_with model: @quip, local: true do |form| %>
  
  <% if @quip.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@quip.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @quip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.label :author %><br>
    <%= form.text_field :author %>
  </p>

  <p>
    <%= form.label :branch %><br>
    <%= form.text_field :branch %>
  </p>

  <p>
    <%= form.label :offensive %><br>
    <%= form.check_box :offensive %>
  </p>

  <p>
    <%= form.submit %>
  </p>
  
<% end %>