<h1>All quips</h1>

<%= link_to 'New Quip', new_quip_path %> 
<br><br>

<table>
	<tr>
		<th>Text</th>
		<th>Author</th>
		<th>Branch</th>
		<th>Offensive</th>
		<th></th>
	</tr>

	<% @quips.each do |quip| %>
		<tr>
			<td><%= quip.text %></td>
			<td><%= quip.author %></td>
			<td><%= quip.branch %></td>
			<td><%= quip.offensive %></td>
			<td><%= link_to 'Show', quip_path(quip) %></td>
			<td><%= link_to 'Edit', edit_quip_path(quip) %></td>
			<td><%= link_to 'Destroy', quip_path(quip),
					method: :delete,
					data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>
