
<h1>All quips</h1>

<%= link_to 'New Quip', new_quip_path %> 
<br><br>

<% @quips.each do |quip| %>
<% @latest_diff = @diffs.where("quip_id = ?", quip.id).last %>
	
	<div id="container">
		<section class="card">

		<% if @latest_diff %>
			<div id="card_head">
				<h2 id="current_author"><%= quip.id %>. <%= quip.author %></h2>
				<div id="original_author"><em>Recently modified by: <%= @latest_diff.author %></em></div>
			</div>
			<p id="text"><%= @latest_diff.text %></p>
			<div id="bottom_card">
				<ul id="bottom_card_left">
					<li id="branch"><%= @latest_diff.branch %></li>
					<li id="offensive">Offensive: <%= @latest_diff.offensive %></li>
				</ul>
		
		<% else %>
			<div id="current_author"></div>
			<div id="text"></div>
			<div id="bottom_card">
				<ul id="bottom_card_left">
					<li id="branch"></li>
					<li id="offensive"></li>
				</ul>
		<% end %>
				
				<ul id="bottom_card_right">
					<li id="show"><%= link_to 'Show', quip_path(quip) %></li>
					<li id="destroy"><%= link_to 'Destroy', quip_path(quip),
									method: :delete,
									data: { confirm: 'Are you sure?' } %></li>
				</ul>
			</div>
		</section>
	</div>

<% end %>
