<h1>Show</h1>

<p>
	<strong>Original Creator:</strong>
	<%= @quip.author %>
</p>

<h2>Diffs</h2>
<%= render @quip.diffs %>

<h2>Add a diff:</h2>
<%= render 'diffs/form' %>

<%= link_to 'Edit', edit_quip_path %> | 
<%= link_to 'Home', quips_path %>

