<h1>Show</h1>

<p>
	<strong>Text:</strong>
	<%= @quip.text %>
</p>

<p>
	<strong>Author:</strong>
	<%= @quip.author %>
</p>

<p>
	<strong>Branch:</strong>
	<%= @quip.branch %>
</p>

<p>
	<strong>Offensive:</strong>
	<%= @quip.offensive %>
</p>

<%= link_to 'Edit', edit_quip_path %> | 
<%= link_to 'Home', quips_path %>