<%= form_with(model: [ @quip, @quip.comments.build ], local: true) do |form| %>
	<p>
		<%= form.label :commenter %><br>
		<%= form.text_field :commenter %>
	</p>
	<p>
		<%= form.label :quip %><br>
		<%= form.text_field :quip %>
	</p>
	<p>
		<%= form.label :comment %><br>
		<%= form.text_field :comment %>
	</p>
	<p>
		<%= form.submit %>
	</p>
<% end %>